<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cargar Universo - Proyecto Cuántico</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <script type="module" src="static/cargaDatos.js" defer></script>
</head>

<body>
    <div id="container">
        <div class="formulario">
            <h1>Cargar Universo</h1>
            <label for="archivo">Sube tu archivo JSON</label>
            <input type="file" id="archivo" accept=".json">
            <button id="button">Enviar al servidor</button>
        </div>
    </div>


</body>

</html>